.job_card_container {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 0.8% 1% 0% 1%;
    padding: 2% 1% 0% 1%;
}

.company_name {
    width: 10.5vw;
}

.description {
    width: 12vw;
}

.country {
    width: 7vw;
}

.city {
    width: 7vw;
}

.status_and_date_card {
    display: flex;
    flex-direction: row;
    width: 13vw;
    margin-bottom: 2.5vh;
}

.status {
    width: 5.5vw;
    margin: 0%;
}

.date {
    width: 6.5vw;
    margin: 0%;
}

.comments { 
    width: 17.5vw;
}