.search_job {
    display: flex;
    width: 32vw;
    height: 6.2vh;
    background-color: white;
    margin: 1%;
    margin-left: 20vw;
    border-radius: 25px;
}

.searchJobInput {
    background-color: transparent;
    border: transparent;
    width: 35vw;
    height: 3vh;
    margin-top: 1.4vh;
    margin-left: 1.5vw;
    font-size: medium;
}

.links_sub_menu {
    display: flex;
    flex-direction: row;
    /* width: 10vw; */
}

.filterOptions {
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 1vw;
    font-size: 0.9em;
    background-color: rgb(122, 141, 139);
    color: white;
    border-radius: 20px;
    min-width: 3.5vw;
    max-width: auto;
}

.user_filter_clicked {
    background-color: #6398DE;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 1vw;
    font-size: 0.9em;
    color: white;
    border-radius: 20px;
    min-width: 3.5vw;
    max-width: auto;
}

.new_job_container {
    margin-left: 32vw;
}

.new_job_button {
    background-color: #6398DE;
    width: 7vw;
    margin-top: 2vh;
    padding: 1vw;
    font-size: 0.9em;
    color: white;
    border-radius: 20px;
    border-color: transparent;
}

.job_card_headers {
    display: flex;
    flex-direction: row;
    background-color: #6398DE;
    margin: 0% 1% 0% 1%;
    color: white;
    font-size: large;
    width: 70vw;
    position: relative;
    top: 2.5vh;
    left: 0.5vw;
    z-index: 1;
}  

.company_name_header {
    padding-left: 1vw;
    width: 10vw;
}

.description_header {
    width: 12vw;
}

.country_header {
    display: flex;
    flex-direction: row;
    width: 8vw;
}

.select_country {
    background-color: transparent;
    border-color: transparent;
    color: white;
}

.city_header {
    width: 7vw;
}

.status_header {
    width: 6vw;
}

.date_header {
    width: 7vw;
}

.data_loading {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    color: #6398DE;
    font-size: x-large;
}